<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <h2>使用 GET 方法的表單</h2>
<form action="/get_example" method="get">
  <table border="1">
    <tr>
      <th>欄位</th>
      <th>輸入</th>
    </tr>
    <tr>
      <td>姓名</td>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td>電子郵件</td>
      <td><input type="email" name="email"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="送出"></td>
    </tr>
  </table>
</form>

    <img src="images/firefox-icon.png" alt="My test image" />
  </body>
</html>