/* h1 {
  color: #333;
}

.order-table {
  width: 300px;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.order-table th {
  background-color: #e0e0e0;
  padding: 8px;
  text-align: left;
  width: 100px;
}

.order-table td {
  padding: 8px;
  background-color: #fff;
}

.order-table, .order-table th, .order-table td {
  border: 1px solid #ccc;
} */

#table_container {
    display : flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.ant-form-item {
    margin-bottom: 16px;
}
.ant-form-item-label {
    font-weight: bold;
}