<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

<br><br>

<!-- input No.1 -->
<table>
  <tr>
    <td class="icon"><i class='fas fa-search icon'></i></td>
    <td><input type="text"></td>
    <td class="btn"><div class="submitBtn">submit</div></td>
  </tr>
</table>

<br><br>

<!-- input No.2 -->
<table>
  <tr>
    <td class="icon" style="background: #c1c1c1; padding: 5px; border-radius: 5px;">+886</td>
    <td><input type="text"></td>
    <td class="btn"><div class="submitBtn">submit</div></td>
  </tr>
</table>

<br><br>

<!-- input No.3 -->
<table style="border: 1px solid black; border-radius: 50px; padding: 5px;">
  <tr>
    <td class="icon" style="border-right: 1px solid black; padding-right: 5px;">+886</td>
    <td><input type="text"></td>
    <td class="btn"><div class="submitBtn">submit</div></td>
  </tr>
</table>