<head>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
  </head>
  <body>
    <h1>聊天室</h1>
    <ul id="messages_ul"></ul>
    <input id="messageInput" placeholder="輸入訊息..." />
    <button onclick="sendMessage()">送出</button>
  
    <script>
      const socket = io(); // 初始化 socket 連線
  
       socket.on('to_front_message', function(msg) {   //當前端收到後端的emit資訊時
        const li = document.createElement('li');    // 創建 list 物件 
        li.textContent = msg;                      // list 內容 = msg
        document.getElementById('messages_ul').appendChild(li);  // 找到id為 messages 的物件(是一個ul) 並加入 li 在其底下
      });
  
      function sendMessage() {
        const input = document.getElementById('messageInput');  // input = html 中 <input/> 
        const msg = input.value;      // msg = const input 中的值
        if (msg) {   // 有訊息 (不輸入直接按就沒有用)
          socket.emit('to_back_message', msg);  //發送給前端emit
          input.value = '';     // 按下按鈕後是否清空輸入欄
        }
      }
    </script>
  </body>