<body>
    <h1>Flask POST 範例</h1>
    <input type="text" id="postName" placeholder="輸入名字">
    <button onclick="sendPostRequest()">送出 POST</button>
    <p id="postResponse"></p>

    <script>
        function sendPostRequest() {
            let name = document.getElementById("postName").value;

            fetch("/post_example", {
                method: "POST",
                //告訴伺服器，送出的資料格式是 JSON。
                headers: { "Content-Type": "application/json" },
                //將 JavaScript 物件 { name: "..." } 轉成 JSON 字串後傳送。
                body: JSON.stringify({ name })
            } )
            .then(res => res.json())
            .then(data => document.getElementById("postResponse").innerText = data.message)
            .catch(err => console.error("錯誤:", err));
        }
    </script>
</body>